<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TAS WebProfiler</title>
<link rel="stylesheet" href="styles/login.css" type="text/css"/>
<link rel="stylesheet" href="styles/url.css" type="text/css"/>
<% include url_script %>
</head>
<body>
<!-- ****     Header  ******************** -->

    <div class="header_top" >
        <div class="logo_tab">
            <img src="/icons/logo_pc_legal.png"/>
        </div>
        <a id="logout_img" style="color: #d95e5e;;float:right;cursor:pointer;padding: 15px 1px 0 10px; font-size:16px;" title="Logout" class="tooltip" href="/logout">Logout</a>
    </div>
